$alignment: center;

html {
    scroll-behavior: smooth;
}

body {
    background: url(https://images.unsplash.com/photo-1551033406-611cf9a28f67?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}

#main-content {
    padding: 50px;
    margin-top: 50px;
    background: rgba(10, 10, 10, .4);
}

@media(min-width:700px) {
    #mob {
        display: none;
    }
}

@media(max-width:699px) {
    #pc {
        display: none;
    }
}

.nav {
    a {
        color: white;
        font-size: 8mm;
        padding: 10px;
        text-decoration: none;
        text-align: $alignment;
    }
}

a:hover {
    color: #E47A63;
}

#avatar {
    border-radius: 50%;
    padding: 10px;
    float: left;
}

#title {
    margin-left: 50px;
}


%inherittext {
    font-size: 6mm;
    text-align: $alignment;
    color: white;
}

#aboutme,
#text {
    @extend %inherittext;
    margin-top: 30px;
    font-size: 4rem;

}

#contact {
    @extend %inherittext;
    margin-top: 200px;
    font-weight: 800;
    font-size: 5rem;
}

.fa:hover {
    opacity: 0.7;
}

a.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: $alignment;
    text-decoration: none;
    margin: 25px 2px;
    border-radius: 50%;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-reddit {
    background: #ff5700;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

#list {
    margin: 50px 200px 100px 400px;
    text-align: $alignment;
    border: 2px solid white;
    border-collapse: collapse;
}

#list td,
#list th {
    border: 1px solid white;
    text-align: left;
    padding: 20px;
}

.likes {
    list-style: none;

}

#lbutton {
    color: black;
    background-color: orangered;
    border: 1px solid orangered;
    border-radius: 12%;
    padding: 5px;
    width: 80px;
}

#More {
    margin-top: 500px;
}

#cross:hover #lbutton {
    background-color: lightcoral;
}

#alert {
    display: none;
}

#cross:visited #alert {
    display: block;
    background-color: lightcoral;
}